:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.7;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  background: linear-gradient(rgba(128, 128, 128, 0.4), 
      rgba(128, 128, 128, 0.4)),
  url("../src/assets/logoImage/Pune_Municipal_Corporation_building.jpg");
  background-size: cover;
}